<div class="cart-container" *ngIf="cartService.cartItems().length > 0; else empty">
  <h2 class="title">Your Cart</h2>

  <div class="cart-grid">
    <div class="cart-card" *ngFor="let item of cartService.cartItems()">
      <!-- <img [src]="item.image" [alt]="item.name" /> -->
      <div class="cart-info">
        <h3>{{ item.name }}</h3>
        <p>Price: {{ item.price | currency:'USD':'symbol':'1.0-0' }}</p>
        <p>Quantity: {{ item.quantity }}</p>
        <p>Total: {{ item.price * item.quantity | currency:'USD':'symbol':'1.0-0' }}</p>
        <button class="remove-btn" (click)="removeItem(item.id)">Remove</button>
      </div>
    </div>
  </div>


  <div class="cart-summary">
    <h3>Total: {{ cartService.total() | currency:'USD':'symbol':'1.0-0' }}</h3>
    <button class="checkout-btn" (click)="checkout()">Proceed to Checkout</button>
  </div>
</div>

<ng-template #empty>
  <div class="empty-cart">
    <i class="fa-solid fa-cart-shopping"></i>
    <p>Your cart is empty 🛒</p>
  </div>
</ng-template>
